a{
	text-decoration:none;
}
body{
    background: #ffffff;
}

.card .card-reveallyk {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.ex-like-img{
	width: 64px;
	height: 64px;
}

#ScrollWrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}

.ds-replybox .ds-avatar {padding-right: 10px;}

.scrollText{
	word-break:keep-all;
	white-space:nowrap;
}
.scrollTextWrapper{
	overflow: hidden;
}

.hide{
	display: none;
}

.outtime{
	color:rgba(10,10,10,0.5);
}


.organizer-wrapper{
	font-size: 0.8rem;
	color:rgba(10,10,10,0.5);
}

.organizer-label{
	float: left;
	margin-top: 0px;
}

.co-organizer-label{
	float:left;
	margin-top: 0px;
}

.editor{
	color:rgba(10,10,10,0.5);
	font-size: 0.8rem;
}


.shareicon{
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.post-header{
	background: #4da7a8;
}

.scaleFadeIn{
	-webkit-animation-name: scaleFadeIn; /*动画名称*/
	-webkit-animation-duration: 0.2s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function:ease-out；
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	display: block;
}

.scaleFadeOut{
	-webkit-animation-name: scaleFadeOut; /*动画名称*/
	-webkit-animation-duration: 0.2s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function:ease-out；
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	/*display: none;*/
}

@keyframes scaleFadeOut
{
	from { 
		transform: none;
		opacity: 1;
	}
    to { 
    	transform: scale(0.2);
    	opacity: 0; 
    }
}

@-moz-keyframes scaleFadeOut /* Firefox */
{
	from { 
		transform: none;
		opacity: 1;
	}
    to { 
    	transform: scale(0.2);
    	opacity: 0; 
    }
}

@-webkit-keyframes scaleFadeOut /* Safari 和 Chrome */
{
	from { 
		transform: none;
		opacity: 1;
	}
    to { 
    	transform: scale(0.2);
    	opacity: 0; 
    }
}

@-o-keyframes scaleFadeOut /* Opera */
{
	from { 
		transform: none;
		opacity: 1;
	}
    to { 
    	transform: scale(0.2);
    	opacity: 0; 
    }
}





@keyframes scaleFadeIn
{
	from { 
		transform: scale(0.2);
    	opacity: 0; 
	}
    to { 
    	transform: scale(1);
    	opacity: 1; 
    }
}

@-moz-keyframes scaleFadeIn /* Firefox */
{
	from { 
		transform: scale(0.2);
    	opacity: 0; 
    }
    to { 
    	transform: scale(1);
    	opacity: 1; 
    }
}

@-webkit-keyframes scaleFadeIn /* Safari 和 Chrome */
{
	from { 
		transform: scale(0.2);
    	opacity: 0; 
	}
    to { 
    	transform: scale(1);
    	opacity: 1; 
    }
}

@-o-keyframes scaleFadeIn /* Opera */
{
	from { 
		transform: scale(0.2);
    	opacity: 0; 
	}
    to { 
    	transform: scale(1);
    	opacity: 1; 
    }
}


.ds-post-button{
	width: 20%;
	height: 100%;
	box-shadow:0 0 10px rgba(148, 148, 148, 0.5);
}

#bottom-textarea{
	float:left;
	width:80%;
}

.hrinhotandcold{
	width: 80%;
	background:rgba(10,10,10,0.5);
	height:0px;
	border:none;
	border-top:1px solid #FBFAFA;
}

.untouch{
	display: none;
}

/*#ex-replybox{
	border-top: 1px #ccc;
	box-shadow:0 0 10px rgba(148, 148, 148, 0.5);
}*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }



