---
layout: page
title: "关于"
description: "写一段好代码，降低世界碳排量！"
header-img: "img/common/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        写一段好代码，降低世界碳排量。
    </blockquote>
	<p>我叫林义凯，“锄禾日当午，汗滴禾下土”</p>
	<p>这首诗和我其实没什么关系，我只是突然想不起该怎么介绍自己，随口吟了一首诗</p>
	<p>是这样的，我其实是iOS Developer</p>
    <p>我为什么要当iOS Developer而不当Android Developer呢？</p>
	<p>完全是因为我大学的食堂太难吃了</p>
	<p>不对，我在说什么啊</p>
	<p>其实我之所选择当iOS Developer是因为它收费啊，一年99美元呢亲，就喜欢收费的</p>
	<p>不过我还是没钱买，但就冲这个逼格，我完全算的上一个票准的iOS Developer</p>
</div>

<!-- English Version -->
<div class="en">
    <blockquote>
        I am not good at English.
    </blockquote>
	<p>Say it Once More: I am not good at English.</p>
</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
    <div class="comment">
        <div class="ds-thread"
        {% if site.duoshuo_username == "huxblog" %}
            data-thread-id="1187623191091085319"
        {% else %}
            data-thread-key="{{site.duoshuo_username}}/about"
        {% endif %}

        data-title="{{page.title}}"
        data-url="{{site.url}}/about/"></div>
    </div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
