---
layout: page
description: ""
---


{% if paginator.previous_page %}
    <center>
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">回到</a>
        </li>
    </center>
{% endif %}

{% for post in paginator.posts %}
        <li style="margin-top: 1rem" class="swipeout ALL {{post.category}} {{post.campus}} show lecture-card">
            <div class="collapsible-header waves-effect waves-teal row" style="padding:0.6rem 0rem;border-bottom: 0px;white-space:nowrap;text-overflow:ellipsis;margin-bottom: 0px;" onclick="ClickCollaspibleHeader(this)">
                <div class="scrollTextWrapper col s7" style="">
                	<h5 id="title" class="truncate title" style="" >{{ post.title }}</h5>
                </div>
                <h6 id="address&time" class="col s5" style="font-size: 10px;line-height: 1.5;height: 100%;">
                	<!--时间-->
                    <div style="float:left;">时间：</div>
                	<div id="date" class="date" style="float:left;">{{ post.date | date: "%-y/%-m/%-d"}}</div>
                    <div style="float:left;">&nbsp&nbsp</div>
                    <div id="time" class="time">{{ post.time }}</div>
              		<!--地点-->
                	<div>
                		<div style="float: left;font-zie:12px;">地点：</div>
                		<div class="scrollTextWrapper" style="">
                			<div id="address" class="address scrollText" style="">{{post.address}}&nbsp;&nbsp;</div>
                		</div>
                	</div>
                </h6>
                <div class="swipeout-actions-right">
                    <a href="#" onclick="collectLecture(this.parentNode.parentNode.parentNode)" class="yellow" style="left: 0px;">收藏</a>
                </div>
            </div>
            <div class="collapsible-body" style="padding: 0rem 1rem 1rem 1rem; overflow: auto;border-bottom: 0px;">
            	<hr size=0.5 color=#E1E1E1 style="FILTER: alpha(opacity=100,finishopacity=0,style=3);margin: 0px;"/> 
                <div class="">
                <table>
                    <tr>
                    {% if post.speaker-img %}
                    <td style="width: 50%;" id="speaker-img{{ forloop.index }}">
                            <div style="" class="">
                                <div class="card" style="box-shadow: 0px 0px 0px 0px;">
                                     <div class="card-image waves-effect waves-block waves-light">
                                       <img class="activator" src="{{ post.speaker-img }}">
                                     </div>
                                     <div class="card-content valign-wrapper" style="padding: 40px 0px 0px 0px;">
                                       <span class="card-title activator grey-text text-darken-4 valign center-align" style="font-size: 15px;width: 100%;">主讲人: {{ post.speaker }}
                                           <i class="mdi-navigation-more-vert right"></i>
                                       </span>
                                     </div>
                                     <div class="card-reveal"  style="padding: 0px 10px;">
                                         
                                       <span class="card-title grey-text text-darken-4 valign center-align" style="font-size: 15px;width: 100%;">主讲人: {{ post.speaker }}
                                           <i class="mdi-navigation-close right"></i>
                                       </span>
                                       <br/>
                                       <p style="padding: 0px 0px 0px ;">
                                            {{ post.speaker-profile }}
                                       </p>
                                            
                                     </div>
                                </div>
                            </div>
                            
                    </td>
                    {% endif %}
                   
                    <td style="{% if post.speaker-img %}width: 50%;{% else %}width: 100%;{% endif %}">
                    <div class="" style="height: 100%;width: 100%;margin: 0px;" id="content{{ forloop.index }}">
                        {% if post.organizer %}
                            <h6 class="post-organizer">
                                主办单位：{{ post.organizer }}
                            </h6>
                        {% endif %}
                        {% if post.co-organizer %}
                            <h6 class="post-organizer" style="font-style: italic;">
                                协办单位：{{ post.co-organizer }}
                            </h6>
                        {% endif %}
                        <br/>
                        
                        <div class="post-content-preview" style="">
                            <a class="modal-trigger" href="{{ post.url | prepend: site.baseurl }}">
                            <!-- <a class="modal-trigger" href="#profile{{forloop.index}}"> -->
                                {% if post.speaker-img %}
                                    {{ post.content | strip_html | truncate:100 }}
                                {% else %}
                                    {{ post.content | strip_html | truncate:200 }}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    </td>
                    </tr>
                </table>
                </div>


                
            </div>
            <!-- </a> -->
            
        </li>

      


{% endfor %}

<script>
  
</script>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager" style="margin-top: 1rem;">
    
    {% if paginator.next_page %}
    <center>
        <li class="next">
            <a style="color: rgba(10,10,10,0.3);" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">历史</a>
        </li>
    </center>
    {% endif %}
</ul>
{% endif %}
