---
layout: page
description: "据说大神都有属于他们自己的技术博客"
---

{% for post in paginator.posts %}

        <li style="margin: 0px;">
            <div class="collapsible-header waves-effect waves-teal active" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                {{ post.title }}
            </div>
            <!-- <a href="{{ post.url | prepend: site.baseurl }}"> -->
            <div class="collapsible-body" style="padding: 1rem;">
                {% if post.subtitle %}
                <h6 class="post-subtitle">
                    {{ post.subtitle }}
                </h6>
                {% endif %}
                <div class="post-content-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.content | strip_html | truncate:200 }}
                    </a>
                </div>

                
            </div>
            <!-- </a> -->
       </li>
    
   
    <div id="iSlider-effect-wrapper" style="margin: 0px 0px 14px 0px;">
        <div id="text-effect{{ post.title }}" class="iSlider-effect" style=""></div>
    </div>

<script>
var changeMonthToNum = function(str){
    let i = 0;
    let strM;
    for (; i < str.length; i++) {
        if(str[i]==' '){
            strM = str.substr(0,i);
            break;
        }
    }
    switch(strM){
        case 'January':
        return ('1月'+str.substr(i,str.length));
        case 'February':
        return ('2月'+str.substr(i,str.length));
        case 'Mar':
        return ('3月'+str.substr(i,str.length));
        case 'April':
        return ('4月'+str.substr(i,str.length));
        case 'May':
        return ('5月'+str.substr(i,str.length));
        case 'June':
        return ('6月'+str.substr(i,str.length));
        case 'July':
        return ('7月'+str.substr(i,str.length));
        case 'August':
        return ('8月'+str.substr(i,str.length));
        case 'September':
        return ('9月'+str.substr(i,str.length));
        case 'October':
        return ('10月'+str.substr(i,str.length));
        case 'November':
        return ('11月'+str.substr(i,str.length));
        case 'December':
        return ('12月'+str.substr(i,str.length));
        default:
        return (str);
    }
}
var strMonth = changeMonthToNum('{{ post.date | date: "%B %-d, %Y" }}');
var domList = [
{
    'height' : '100%',
    'width' : '100%',
    'content' : ' <p class="flow-text" style="margin: 5px 0px 24px 0px;text-align: right;font-style: italic;font-size: 10px;color: #a3a3a3;">开始日期：'+strMonth+'</p>'
},{
    'height' : '100%',
    'width' : '100%',
    'content' : '<p class="flow-text" style="margin: 5px 0px 24px 0px;text-align: right;font-style: italic;font-size: 10px;color: #a3a3a3;">地点：A区主教113</p>'
},{
    'height' : '100%',
    'width' : '100%',
    'content' : '<p class="flow-text" style="margin: 5px 0px 24px 0px;text-align: right;font-style: italic;font-size: 10px;color: #a3a3a3;">1000人喜欢</p>'
}
];



//all animation effect
new iSlider({
    data: domList,
    type:'dom',
    dom: document.getElementById("text-effect{{ post.title }}"),
    duration: 2000,
    animateType: 'default',
    isAutoplay: true,
    isLooping: true,
    ratio:0.1,
    isVertical: true,
    touchAble: false,
});
</script>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
