<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keyword"  content="{{ site.keyword }}">
    <!-- <link rel="shortcut icon" href="http://daiweilai.github.io/img/common/favicon.ico"> -->
	
	<!-- <link href="http://daiweilai.github.io//css/prism.css" rel="stylesheet" /> -->
	
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    
    <link rel="stylesheet" href="{{ "/css/header.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/lyk.css" | prepend: site.baseurl }}">
    <link type="text/css" rel="stylesheet" href="{{ "/css/materialize.min.css" | prepend: site.baseurl }}"  media="screen,projection"/>

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/materialize.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
    <!--Custom JS-->
    <script src="{{ "/js/islider.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/plugins/islider_desktop.js" | prepend: site.baseurl }}"></script>
    
    <script></script>
</head>
