---
layout: default
---
<div class="navbar-fixed hide-on-small-only">
    
    <nav>
      <div class="nav-wrapper blue darken-2" >
      <a href="#!" class="brand-logo" >重庆大学学术信息发布平台</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="javascript:select('ALL')">所有</a></li>
        <li><a href="javascript:select('A')">A区</a></li>
        <li><a href="javascript:select('B')">B区</a></li>
        <li><a href="javascript:select('C')">C区</a></li>
        <li><a href="javascript:select('D')">虎溪校区</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1" style="width: 200px;">
            <i class="mdi-navigation-arrow-drop-down right"></i><span class="right">分类</span></a>
        </li>
      </ul>
      </div>
    </nav>
    
</div>

<!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <script type="text/javascript">
      if (window.android) {
        window.android.setCategoryItem("所有");
      }; 
    </script>
    <li><a href="javascript:selectCategory('所有')">所有</a></li>
    {% for post in site.posts %}
        {% assign hasBefore = false %}
        {% for temp in site.posts limit:forloop.index0 %}
            {% if post.category ==  temp.category %}
                {% assign hasBefore = true %}
            {% endif %}
        {% endfor %}
        {% if hasBefore != true and post.category != '其它'' %}
            <script type="text/javascript">
                if (window.android) {
                  window.android.setCategoryItem("{{post.category}}");
                }; 
            </script>
            <li><a href="javascript:selectCategory('{{post.category}}')">{{post.category}}</a></li>
        {% endif %}
    {% endfor %}
     <li><a href="javascript:selectCategory('其它')">其它</a></li>
     <script type="text/javascript">
         if (window.android) {
            window.android.setCategoryItem("其它");
          }; 
     </script>
  </ul>

<!-- Main Content -->
<div class="">
	<div class="row">
        <!-- Post Container -->
    		<div class="col s12 m12 l8 push-l1 list-block" style="padding: 0 0rem;">
                <ul id="staggered-post" class="post-preview collapsible popout" data-collapsible="expandable" style="margin: 1.5rem 0 0 0;box-shadow: 0px 0px 0px #888888;;border: 0px;">
    			     {{ content }}
                </ul>
    		</div>
        <div class="hide-on-med-and-down col l3 push-l9" style="position: fixed;">
          <center>
              <img class="responsive-img" src="img/common/download.png">
          </center>
        </div>
	</div>
</div>
<script src="{{ "/js/framework7.js" | prepend: site.baseurl}}"></script>
<script>

    // var myApp = new Framework7({
    // });

    // function async(u, c) {
    //   var d = document, t = 'script',
    //       o = d.createElement(t),
    //       s = d.getElementsByTagName(t)[0];
    //   o.src = u;
    //   if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
    //   s.parentNode.insertBefore(o, s);
    // }
</script>

