---
layout: default
---
<!-- Page Header -->


<!-- Main Content -->
<div class="">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
    <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                {{ content }}
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">
            </div>
        {% else %}

<!-- USE SIDEBAR -->
    <!-- Post Container -->
            <!-- <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/>
            <input style="button" value="按钮" class="col s12" style="height:100px;"/> -->
    		<div class="col s12 m12 l8" style="padding: 0 0rem;">
                <ul id="staggered-post" class="post-preview collapsible popout" data-collapsible="expandable" style="margin: 1.5rem 0 1rem 0;box-shadow: 0px 0px 0px #888888;;border: 0px;">
    			     {{ content }}
                </ul>
    		</div>
    <!-- Sidebar Container -->
            <div class="
                hide-on-small-only
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
    		</div>
        {% endif %}
	</div>
</div>
