---
layout: default
---
<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->



<!-- Post Header -->

<header class="post-header white-text" >
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="post-heading">
                    <h2>{{ page.title }}</h2>
                    
                    <p class="speaker">
                        主讲人：{% if page.speaker %}{{ page.speaker }}{% else %}{{ site.title }}{% endif %} 
                    </p>
                    <p class="tima-address">
                        时间：{{ page.date | date: "%-m月%-d日"}}&nbsp;&nbsp;地点：{{ page.address }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="organizer-wrapper">
        {% comment %} if page.organizer {% endcomment %}
        <div>
            <p class="organizer-label">主办方：</p>
            <p class="organizer">{{ page.organizer }}</p>
        </div>
        {% comment %} endif {% endcomment %}
        {% comment %} if page.co-organizer {% endcomment %}
        <div>
            <p class="co-organizer-label">协办方：</p>
            <p class="co-organizer">{{ page.co-organizer }}</p>
        </div>
        {% comment %} endif {% endcomment %}
    </div>

    <!-- Post Content -->
    <article>
        
            <div class="row">
                <div class="col s12">
                    <div id="content">
    				{{ content }}
                    </div>
                    <!--编辑 -->
                    <div class="editor">
        				<center>文章作者：{{ page.author }}</center>
                        <center>责任编辑：{{ page.editorInCharge }}</center>
                    </div>
                    <hr>
                    {% if site.duoshuo_share && site.duoshuo_username %}
                    <!-- 多说 Share start -->
                    <div id="floatShareBtn" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                          <a id="" class="btn-floating btn-large red scaleFadeIn">
                            <i class="large mdi-social-share"></i>
                          </a>

                            <div class="ds-share flat" 
                                data-thread-key="{{page.id}}" 
                                data-title="{{page.title}}" 
                                data-images="{% if page.speaker-img %}{{ page.speaker-img }}{% else %}{{ site.header-img }}{% endif %}" 
                                data-content="{{ content | strip_html | truncate:80 }} | {{ site.SEOTitle }} " 
                                data-url="{{site.url}}{{site.baseurl}}{{page.url}}">                            

                                  <ul>
                                    <li><a class="btn-floating red ds-weibo" data-service="weibo" style="">
                                        <img style="width: 100%;height:100%;" src="{{ "/img/shareicon/weibo.png" | prepend: site.baseurl }}"/>        
                                        <!-- <i class="large mdi-editor-format-quote"></i> -->
                                    </a></li>
                                    <li><a class="btn-floating yellow darken-1 ds-qzone" data-service="qzone">
                                        <img style="width: 100%;height:100%;" src="{{ "/img/shareicon/qzone.png" | prepend: site.baseurl }}"/>    
                                    </a></li>
                                    <li><a class="btn-floating white ds-wechat" data-service="wechat">
                                        <img style="width: 100%;height:100%;" src="{{ "/img/shareicon/weixin.png" | prepend: site.baseurl }}"/>  
                                    </a></li>
                                    <li><a class="btn-floating blue" data-service="moveToBodyEnd" onclick="moveToBodyEnd(this)">
                                        <i class="mdi-editor-mode-edit"></i>
                                    </a></li>
                                  </ul>

                             </div>

                    </div>
                    <!-- 多说 Share end-->
                    {% endif %}

                    

                </div>
            </div>
        
    </article>

    {% if site.duoshuo_username %}
                    <!-- 多说评论框 start -->
                    <div id="comment" class="comment">
                        <div class="ds-thread"
                            data-thread-key="{{page.id}}"
                            data-title="{{page.title}}"
                            data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
                        </div>
                    </div>
                    <!-- 多说评论框 end -->
                    {% endif %}

</div>

                    







<!-- <script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script> -->
<!-- <script src="http://daiweilai.github.io/js/lightbox-plus-jquery.min.js"></script> -->
<!-- <link rel="stylesheet" href="http://daiweilai.github.io/css/lightbox.css"> -->

<script>

var options = [
    {selector: '#ex-replybox', offset: 0 , up:false , callback: 'hideFloatBtn()'},
    {selector: '#ex-replybox', offset: 0 , up:true , callback: 'showFloatBtn()'},
    ];
Materialize.scrollFireForever(options);


function moveToBodyEnd(e){
    // e.prevent
    document.getElementsByTagName('BODY')[0].scrollTop=document.getElementsByTagName('BODY')[0].scrollHeight;
}

// $("button").click(function(){
//   $("div").animate({left:'250px'});
// });

function hideFloatBtn(){
    if($("#floatShareBtn").hasClass("scaleFadeIn")){
        $("#floatShareBtn").removeClass("scaleFadeIn");
    }
    if(!$("#floatShareBtn").hasClass("scaleFadeOut")){
        $("#floatShareBtn").addClass("scaleFadeOut");
    }
    // console.log("运行到");
} 

function showFloatBtn(){
    // console.log("运行upupup");
    if($("#floatShareBtn").hasClass("scaleFadeOut")){
        $("#floatShareBtn").removeClass("scaleFadeOut");
    }
    if(!$("#floatShareBtn").hasClass("scaleFadeIn")){
        $("#floatShareBtn").addClass("scaleFadeIn");
    }
    
} 


// function switchImgToCircle(){

//     var imgs = document.getElementById("ds-reset")
//     console.log(imgs.innerHTML);
//     // for (var i = imgs.length - 1; i >= 0; i--) {
//     //     console.log(imgs[i]);
//     //     $(imgs[i]).addClass("circle");
//     // };
// }

// switchImgToCircle();

var fba = document.getElementById("floatShareBtn");
fba.addEventListener("webkitAnimationEnd", function(){ //动画结束时事件 
    // console.log("end");
    if($(this).hasClass("scaleFadeOut")){
        // console.log($(this).css("bottom"));
        $(this).css("bottom",$(this).css("bottom")-100);
    }
    if($(this).hasClass("scaleFadeIn")){
        $(this).css("bottom",$(this).css("bottom")+100);
    }
}, false); 



$(".container").find("h2,h3,h4,h5,h6").each(function(i,item){
    var tag = $(item).get(0).localName;
    $(item).attr("id","wow"+i);
    $("#AnchorContent").append('<li><a class="new'+tag+' anchor-link" onclick="return false;" href="#" link="#wow'+i+'">'+$(this).text()+'</a></li>');
    $(".newh2").css("margin-left",0);
    $(".newh3").css("margin-left",20);
    $(".newh4").css("margin-left",40);
    $(".newh5").css("margin-left",60);
    $(".newh6").css("margin-left",80);
});
$("#AnchorContent").toggle();
$("#AnchorContentToggle").click(function(){
    var text = $(this).html();
    if(text=="目录[-]"){
        $(this).html("目录[+]");
        $(this).attr({"title":"展开"});
    }else{
        $(this).html("目录[-]");
        $(this).attr({"title":"收起"});
    }
    $("#AnchorContent").toggle();
});

$(".anchor-link").click(function(){
    $("html,body").animate({scrollTop: $($(this).attr("link")).offset().top}, 1000);
});

$('.ScrollTop').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);});
//给图片添加点击放大事件
// $(".container").find("img").each(function(i,item){
//     var tag = $(item).get(0);
// 	tag.parentNode.innerHTML = "<div>" + "<a href="+tag.src+' data-lightbox="aaa"'+ " >"+ "<img src=" + tag.src + " />" +"</a>" + "</div>"
	  
// });
</script>


{% if site.duoshuo_username %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        // ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.src = "{{ "/js/embed-explode.js" | prepend: site.baseurl }}";
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}




